<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Report" > <!-- data-provider-thread-count="5" -->
  <!-- Suite file contains TestRunner location and Testng listner location -->
<!-- Test Started... -->
  <test name="Automation Test Report">
    <classes>
      <class name="testrunners.TestRunner"/>
    </classes>
  </test> 
</suite> <!-- Suite -->

